<template>
  <div>
    <h1>{{title}}</h1>
    <img src="https://vuejs.org/images/logo.png" :height="height" :width="width"/>
    <p>Its just another vue project, yeeeeeaaaaahhhhhh</p>
  </div>
</template>

<script>
export default {
  props: ['title', 'height', 'width']
}
</script>

