<script>
	export let title, height, width;
</script>

<h1>Hello {title}</h1>
<img src="https://avatars3.githubusercontent.com/u/23617963?s=280&v=4" height="{height}" width="{width}" alt="Esvelte logo"/>
<p>
	I'am a svelte component runing in other port
</p>
