<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="title">
        nuxt-micro-front
      </h1>
      <h2 class="subtitle">
        My cat&#39;s pajamas Nuxt.js project
      </h2>
      <div class="links microfront_list">
        <div class="microfront_item">
          <h3> vue Microfront  </h3>
          <nova name="VueExample" :data="{title: 'vue framework', height:500, width:500}" />
        </div>
        <div class="microfront_item">
          <h3> React Microfront </h3>
          <nova name="ReactExample" :data="{title: 'React framework', height:500, width:500}" />
        </div>
        <div class="microfront_item">
          <h3> Esvelt Microfront </h3>
          <nova name="EsveltExample" :data="{title: 'Esvelt framework', height:500, width:500}" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nova from 'nova-vue-bridge' 
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo,
    Nova
  },
  head:{
    script:[
      {src: 'http://localhost:3000/public/client.js'},
      {src: 'http://localhost:3001/public/client.js'},
      {src: 'http://localhost:3002/public/client.js'}
    ]
  },
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
.microfront_list{
  display:flex;
  width: 100%;
  align-content: flex-start;
  justify-content: space-between;
}
</style>
